body {
	font-family: monaco, Consolas, 'Lucida Console', monospace;
}

textarea {
	font-family: monaco, Consolas, 'Lucida Console', monospace;
	width: 600px;
	height: 400px;
	font-size: 14px;
	line-height: 1.4em; 
	padding: 10px;
	outline: none;
}

#result {
	font-family: monaco, Consolas, 'Lucida Console', monospace;
	line-height: 1.4em; 
	font-size: 14px;
	width: 550px;
	height: 400px;
	display: inline-block;
	background: #333;
	color: white;
	vertical-align: top;
	padding: 10px;
}

button {
	display: block;
	background: #00c853;
	width: 90px;
	height: 35px;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	outline: none;
}